
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --mainColor: white;
  --cloud: #fffefe;
  --dark: #000;
  --gray: #efefef;
  --borderColor: #d2d0d0;

}
