@import './css-shared/variables.css';

.header {
  background-color: var(--dark);
  color: var(--cloud);
  text-align: center;
  padding: .3em .5em .5em;
}

.languageContainer {
  background-color: var(--gray);
  padding: .2em .2em .2em .5em;
  border-bottom: 1px solid var(--borderColor);

  display: flex;
  align-items: center;
}

.language {
  text-transform: uppercase;
}

.selectContainer {
  overflow: hidden;
  padding: .5em;
  text-transform: capitalize;
  text-align: right;

  flex-grow: 2;
}

.select {
  cursor: pointer;
  background: none;
  border: none;
  outline: 0;
}
